/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general del cuerpo */
body {
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
}

/* Encabezado */
header {
    text-align: center;
    background: linear-gradient(to bottom, #ffffff, #e6e6e6);
    padding: 40px 20px;
    border-bottom: 3px solid #c9a44b;
}
header h1 {
    font-size: 2.8em;
    color: #2e2e2e;
}
header p {
    font-size: 1.2em;
    color: #777;
}

/* Menú de navegación */
nav {
    background-color: #d9d9d9;
    padding: 10px 0;
    border-bottom: 2px solid #c9a44b;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
}
nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 6px 10px;
    transition: 0.3s;
}
nav ul li a:hover {
    color: #c9a44b;
}

/* Secciones */
section, aside {
    background-color: #fff;
    margin: 30px auto;
    padding: 20px 30px;
    border-radius: 8px;
    width: 80%;
    box-shadow: 0 0 10px rgba(0,0,0,0.08);
}

/* Títulos */
h2 {
    color: #444;
    border-bottom: 2px solid #c9a44b;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

/* Listas */
ul, ol {
    margin-left: 30px;
}

/* Imágenes */
figure {
    margin: 15px 0;
    text-align: center;
}
figure img {
    max-width:20%;
    border-radius: 6px;
}
figcaption {
    font-size: 0.9em;
    color: #666;
    margin-top: 6px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #e6e6e6;
    color: #555;
    border-top: 2px solid #c9a44b;
    font-size: 0.9em;
}
